body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-color: #ECF5D5;
}

.NPX {
    background-color: #066423; /* Set background color */
    width: 100%; /* Ensure the header covers the entire width of the screen */
    position: fixed; /* Fix the header at the top of the viewport */
    top: 0; /* Align the header to the top of the viewport */
    z-index: 1000; /* Ensure the header is above other content */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Use flexbox */
}

nav li {
    margin-right: 10px; /* Add some spacing between menu items */
}

nav li:last-child {
    margin-right: 0; /* Remove right margin for the last menu item */
}

nav a {
    text-decoration: none;
    color: #333; /* Change link color as needed */
    padding: 5px 10px;
    display: block; /* Ensure links take up entire space of their parent li */
    transition: background-color 0.3s; /* Add a smooth transition effect */
}

nav a:hover {
    background-color: #A1DD06; /* Change background color on hover */
}

.Services{
    padding-top: 100px; /* Add padding to the top of the Services section to prevent overlap with the header */
}

.Serve {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
}

.service {
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1 1 300px; /* Let items grow if there's extra space, shrink if necessary, with a preferred width of 300px */
    box-sizing: border-box; /* Include padding and border in the width calculation */
}

.service-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-content i {
    margin-bottom: 10px;
}

/* Media Query for responsiveness */
@media screen and (max-width: 768px) {
    .Serve {
        justify-content: center; /* Center items horizontally */
    }

    .service {
        flex: 1 1 100%; /* Set item width to 100% for smaller screens */
        max-width: 100%; /* Set maximum width to 100% */
    }
}
